beautifulsoup4==4.11.1
bs4==0.0.1
Django==4.0.5
djangorestframework==3.13.1
loguru==0.6.0
pandas==1.4.2
requests==2.27.1
SQLAlchemy==1.4.37
celery~=5.2.7
django-celery-beat
psycopg2==2.9.3
psycopg2-binary==2.9.3